apiVersion: v1
kind: Template
metadata:
  name: {{ app_name }}
  labels:
    env: infra
  annotations:
    description: A Template for the {{ app_name }}
    iconClass: icon-spring
    tags: spring-boot, spring-cloud, itweb, development
    openshift.io/display-name: ITWEB - Certificate Service
objects:

# IMAGE STREAM
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: {{ app_name }}
    labels:
      app: {{ app_name }}
  spec: {}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: {{ app_name }}-builder
    labels:
      app: {{ app_name }}
  spec: {}

# BUILD CONFIG - builder
- kind: BuildConfig
  apiVersion: v1
  metadata:
    name: {{ app_name }}-builder
    labels:
      app: {{ app_name }}
  spec:
    strategy:
      type: Source
      sourceStrategy:
        from:
          kind: ImageStreamTag
          name: springboot-s2i:latest
          namespace: {{ openshift_project_name }}
        env:
          - name: NEXUS_HOST
            value: {{ nexus_url }}
    output:
      to:
        kind: ImageStreamTag
        name: {{ app_name }}-builder:latest
    triggers:
    - type: ConfigChange
    - type: ImageChange 
      imageChange: {}

# BUILD CONFIG - runtime      
- kind: BuildConfig
  apiVersion: v1
  metadata:
    name: {{ app_name }}
    labels:
      app: {{ app_name }}
  spec:
    output:
      to:
        kind: ImageStreamTag
        name: {{ app_name }}:latest
    source:
      type: Dockerfile
      dockerfile: |
        FROM itweb-springboot-runtime
        COPY application.jar /
        CMD ["sh", "/usr/local/bin/start-application.sh"]
      images:
      - from:
          kind: ImageStreamTag
          name: {{ app_name }}-builder:latest
        paths:
        - destinationDir: .
          sourcePath: /opt/app-root/src/application.jar
    strategy:
      type: Docker
      dockerStrategy:
        from:
          kind: ImageStreamTag
          name: 'itweb-springboot-runtime:latest'
          namespace: {{ openshift_project_name }}

# DEPLOYMENT CONFIG
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    name: {{ app_name }}
    labels:
      app: {{ app_name }}
  spec:
    strategy:
      type: Rolling
      rollingParams:
        updatePeriodSeconds: 1
        intervalSeconds: 1
        timeoutSeconds: 600
        maxUnavailable: 25%
        maxSurge: 25%
      resources: {}
    triggers:
      - type: ConfigChange
      - type: ImageChange
        imageChangeParams:
          containerNames:
            - {{ app_name }}
          from:
            kind: ImageStreamTag
            name: '{{ app_name }}:latest'
    replicas: 1
    selector:
      app: {{ app_name }}
      deploymentconfig: {{ app_name }}
    template:
      metadata:
        labels:
          app: {{ app_name }}
          deploymentconfig: {{ app_name }}
      spec:
        containers:
          - env:
              - name: spring_cloud_config_uri
                valueFrom:
                  configMapKeyRef:
                    key: spring_cloud_config_uri
                    name: bootstrap-config
              - name: spring_cloud_config_failFast
                valueFrom:
                  configMapKeyRef:
                    key: spring_cloud_config_failFast
                    name: bootstrap-config
              - name: spring_cloud_config_retry_initialInterval
                valueFrom:
                  configMapKeyRef:
                    key: spring_cloud_config_retry_initialInterval
                    name: bootstrap-config
              - name: spring_cloud_config_retry_maxInterval
                valueFrom:
                  configMapKeyRef:
                    key: spring_cloud_config_retry_maxInterval
                    name: bootstrap-config
              - name: spring_cloud_config_retry_maxAttempts
                valueFrom:
                  configMapKeyRef:
                    key: spring_cloud_config_retry_maxAttempts
                    name: bootstrap-config
              - name: spring_cloud_config_retry_multiplier
                valueFrom:
                  configMapKeyRef:
                    key: spring_cloud_config_retry_multiplier
                    name: bootstrap-config          
            name: {{ app_name }}
            image: {{ app_name }}
            ports:
              - containerPort: 8080
                protocol: TCP
              - containerPort: 8081
                protocol: TCP
            resources: 
              requests: 
                cpu: {{ min_cpu }}
                memory: {{ min_memory }}
              limits:
                cpu: {{ max_cpu }}
                memory: {{ max_memory }}
            readinessProbe:
              httpGet:
                path: /health
                port: 8081
                scheme: HTTP
              initialDelaySeconds: 45
              timeoutSeconds: 2
              periodSeconds: 15
              successThreshold: 1
              failureThreshold: 5
            livenessProbe:
              exec:
                command:
                  - /bin/sh
                  - '-c'
                  - >-
                    STATUS=$(curl --insecure --silent http://$HOSTNAME:8081/health
                    | jq -r '.["status"]')
                    
                    if [ "$STATUS" == "UP" ]

                    then
                            exit 0;
                    else
                            exit 1;
                    fi                    
              initialDelaySeconds: 240
              timeoutSeconds: 2
              periodSeconds: 30
              successThreshold: 1
              failureThreshold: 2
            terminationMessagePath: /dev/termination-log
            imagePullPolicy: Always
        restartPolicy: Always
        terminationGracePeriodSeconds: 30
        dnsPolicy: ClusterFirst
        securityContext: {}

# SERVICE CONFIG
- apiVersion: v1
  kind: Service
  metadata:
    name: {{ app_name }}
    labels:
      app: {{ app_name }}
  spec:
    ports:
      - name: 8080-tcp
        protocol: TCP
        port: 8080
        targetPort: 8080
      - name: 8081-tcp
        protocol: TCP
        port: 8081
        targetPort: 8081
    selector:
      app: {{ app_name }}
      deploymentconfig: {{ app_name }}
    type: ClusterIP
    sessionAffinity: None
  status:
    loadBalancer: {}

# ROUTE CONFIG
- apiVersion: v1
  kind: Route
  metadata:
    name: {{ app_name }}
    labels:
      app: {{ app_name }}
  spec:
    host: {{ route_host }}
    to:
      kind: Service
      name: {{ app_name }}
    port:
      targetPort: 8080-tcp
    wildcardPolicy: None