kind: ConfigMap
apiVersion: v1
metadata:
  name: bootstrap-config
data: 
  spring_cloud_config_uri: http://configuration-service.itweb-infra.svc:8888
  spring_cloud_config_failFast: 'true'
  spring_cloud_config_retry_initialInterval: '2000'
  spring_cloud_config_retry_maxAttempts: '10'
  spring_cloud_config_retry_maxInterval: '10000'
  spring_cloud_config_retry_multiplier: '3'
  CERTIFICATE_SERVICE_HOST: 'https://certificate-service.itweb-infra:8080'