kind: BuildConfig
apiVersion: v1
metadata:
  name: {{ app_name }}-builder
  labels:
    app: {{ app_name }}
spec:
  strategy:
    type: Source
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: springboot-s2i:latest
        namespace: {{ openshift_infrastructure_project_name }}
      env:
        - name: NEXUS_HOST
          value: {{ nexus_url }}
  output:
    to:
      kind: ImageStreamTag
      name: {{ app_name }}-builder:latest
  triggers:
  - type: ConfigChange
  - type: ImageChange 
    imageChange: {}