apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_name }}-data
  labels:
    app: {{ app_name }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ volume_capacity }}