apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: {{ app_name }}-agent
spec:
  template:
    metadata:
      labels:
        app: {{ app_name }}
        template: {{ app_name }}-agent
      name: {{ app_name }}-agent
    spec:
      serviceAccount: {{ app_name }}-account
      hostPID: true
      #imagePullSecrets:
      #  - name: dockerhub
      containers:
      - name: {{ app_name }}-agent
        image: docker-registry.default.svc:5000/{{ openshift_project_name }}/aqua-agent:3.2.rc5
        imagePullPolicy: Always
        securityContext:
          privileged: true
        env:
          - name: SCALOCK_TOKEN
            value: 388e483f-7f4f-4628-ba87-dc7be7ab4bcf
          - name: SCALOCK_SERVER
            value: {{ app_name }}-gateway.{{ openshift_project_name }}.svc
          - name: AQUA_LOGICAL_NAME
            value:
        volumeMounts:
          - mountPath: /var/run
            name: var-run
          - mountPath: /dev
            name: dev
          - mountPath: /host/sys
            name: sys
            readOnly: true
          - mountPath: /host/proc
            name: proc
            readOnly: true
          - mountPath: /host/etc
            name: etc
            readOnly: true
          - mountPath: /host/opt/aquasec
            name: aquasec
            readOnly: true
          - mountPath: /opt/aquasec/tmp
            name: aquasec-tmp
          - mountPath: /opt/aquasec/audit
            name: aquasec-audit
      volumes:
      - name: var-run
        hostPath:
          path: /var/run
      - name: dev
        hostPath:
          path: /dev
      - name: sys
        hostPath:
          path: /sys
      - name: proc
        hostPath:
          path: /proc
      - name: etc
        hostPath:
          path: /etc
      - name: aquasec
        hostPath:
          path: /opt/aquasec
      - name: aquasec-tmp
        hostPath:
          path: /opt/aquasec/tmp
      - name: aquasec-audit
        hostPath:
          path: /opt/aquasec/audit
